{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Square Connect API",
    "description": "Client library for accessing the Square Connect APIs",
    "termsOfService": "https://connect.squareup.com/tos",
    "contact": {
      "name": "Square Developer Platform",
      "email": "developers@squareup.com",
      "url": "https://squareup.com/developers"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "externalDocs": {
    "description": "Read the official documentation here:",
    "url": "https://docs.connect.squareup.com/"
  },
  "host": "connect.squareup.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "authorizationUrl": "https://connect.squareup.com/oauth2/authorize?\u003cPARAMETERS\u003e",
      "flow": "accessCode",
      "tokenUrl": "https://connect.squareup.com/oauth2/token",
      "scopes": {
        "MERCHANT_PROFILE_READ": "GET endpoints related to a merchant\u0027s business and location entities. Almost all Connect API applications need this permission in order to obtain a merchant\u0027s location IDs",
        "PAYMENTS_READ": "GET endpoints related to transactions and refunds",
        "PAYMENTS_WRITE": "POST, PUT, and DELETE endpoints related to transactions and refunds. E-commerce applications must request this permission",
        "CUSTOMERS_READ": " GET endpoints related to customer management",
        "CUSTOMERS_WRITE": "POST, PUT, and DELETE endpoints related to customer management",
        "SETTLEMENTS_READ": "GET endpoints related to settlements (deposits)",
        "BANK_ACCOUNTS_READ": "GET endpoints related to a merchant\u0027s bank accounts",
        "ITEMS_READ": "GET endpoints related to a merchant\u0027s item library",
        "ITEMS_WRITE": "POST, PUT, and DELETE endpoints related to a merchant\u0027s item library",
        "ORDERS_READ": "GET endpoints related to a merchant\u0027s Square online store.",
        "ORDERS_WRITE": "POST, PUT, and DELETE endpoints related to a merchant\u0027s Square online store",
        "EMPLOYEES_READ": "GET endpoints related to employee management",
        "EMPLOYEES_WRITE": "POST, PUT, and DELETE endpoints related to employee management",
        "TIMECARDS_READ": "GET endpoints related to employee timecards",
        "TIMECARDS_WRITE": "POST, PUT, and DELETE endpoints related to employee timecards"
      }
    }
  },
  "paths": {
    "/v2/locations/{location_id}/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Charge",
        "operationId": "Charge",
        "description": "Charges a card represented by a card nonce or a customer\u0027s card on file.\n\nYour request to this endpoint must include _either_:\n\n- A value for the `card_nonce` parameter (to charge a card nonce generated\nwith the `SqPaymentForm`)\n- Values for the `customer_card_id` and `customer_id` parameters (to charge\na customer\u0027s card on file)\n\nIn order for an e-commerce payment to potentially qualify for\n[Square chargeback protection](https://squareup.com/help/article/5394), you\n_must_ provide values for the following parameters in your request:\n\n- `buyer_email_address`\n- At least one of `billing_address` or `shipping_address`\n\nWhen this response is returned, the amount of Square\u0027s processing fee might not yet be\ncalculated. To obtain the processing fee, wait about ten seconds and call\n[RetrieveTransaction](#endpoint-retrievetransaction). See the `processing_fee_money`\nfield of each [Tender included](#type-tender) in the transaction.",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to associate the created transaction with.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/ChargeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChargeResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "ListTransactions",
        "operationId": "ListTransactions",
        "description": "Lists transactions for a particular location.\n\nMax results per [page](#paginatingresults): 50",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list transactions for.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in RFC 3339 format.\n\nSee [Date ranges](#dateranges) for details on date inclusivity/exclusivity.\n\nDefault value: The current time minus one year.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The end of the requested reporting period, in RFC 3339 format.\n\nSee [Date ranges](#dateranges) for details on date inclusivity/exclusivity.\n\nDefault value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "sort_order",
            "description": "The order in which results are listed in the response (`ASC` for\noldest first, `DESC` for newest first).\n\nDefault value: `DESC`",
            "enum": [
              "DESC",
              "ASC"
            ],
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "cursor",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee [Paginating results](#paginatingresults) for more information.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTransactionsResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/transactions/{transaction_id}/refund": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "CreateRefund",
        "operationId": "CreateRefund",
        "description": "Initiates a refund for a previously charged tender.",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the original transaction\u0027s associated location.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "transaction_id",
            "description": "The ID of the original transaction that includes the tender to refund.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/CreateRefundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRefundResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/refunds": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "ListRefunds",
        "operationId": "ListRefunds",
        "description": "Lists refunds for one of a business\u0027s locations.\n\nRefunds with a `status` of `PENDING` are not currently included in this\nendpoint\u0027s response.\n\nMax results per [page](#paginatingresults): 50",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list refunds for.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in RFC 3339 format.\n\nSee [Date ranges](#dateranges) for details on date inclusivity/exclusivity.\n\nDefault value: The current time minus one year.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The end of the requested reporting period, in RFC 3339 format.\n\nSee [Date ranges](#dateranges) for details on date inclusivity/exclusivity.\n\nDefault value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "sort_order",
            "description": "The order in which results are listed in the response (`ASC` for\noldest first, `DESC` for newest first).\n\nDefault value: `DESC`",
            "enum": [
              "DESC",
              "ASC"
            ],
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "cursor",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee [Paginating results](#paginatingresults) for more information.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRefundsResponse"
            }
          }
        }
      }
    },
    "/v2/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "ListLocations",
        "operationId": "ListLocations",
        "description": "Provides the details for all of a business\u0027s locations.\n\nMost other Connect API endpoints have a required `location_id` path parameter.\nThe `id` field of the [`Location`](#type-location) objects returned by this\nendpoint correspond to that `location_id` parameter.",
        "x-oauthpermissions": [
          "MERCHANT_PROFILE_READ"
        ],
        "security": [
          {
            "oauth2": [
              "MERCHANT_PROFILE_READ"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListLocationsResponse"
            }
          }
        }
      }
    },
    "/v2/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "CreateCustomer",
        "operationId": "CreateCustomer",
        "description": "Creates a new customer for a business, which can have associated cards on file.\n\nYou must provide __at least one__ of the following values in your request to this\nendpoint:\n\n- `given_name`\n- `family_name`\n- `company_name`\n- `email_address`\n- `phone_number`\n\nThis endpoint does not accept an idempotency key. If you accidentally create\na duplicate customer, you can delete it with the\n[DeleteCustomer](#endpoint-deletecustomer) endpoint.",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/CreateCustomerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCustomerResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "ListCustomers",
        "operationId": "ListCustomers",
        "description": "Lists a business\u0027s customers.",
        "x-oauthpermissions": [
          "CUSTOMERS_READ"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee [Paginating results](#paginatingresults) for more information.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCustomersResponse"
            }
          }
        }
      }
    },
    "/v2/customers/{customer_id}": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "UpdateCustomer",
        "operationId": "UpdateCustomer",
        "description": "Updates the details of an existing customer.\n\nYou cannot edit a customer\u0027s cards on file with this endpoint. To make changes\nto a card on file, you must delete the existing card on file with the\n[DeleteCustomerCard](#endpoint-deletecustomercard) endpoint, then create a new one with the\n[CreateCustomerCard](#endpoint-createcustomercard) endpoint.",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "description": "The ID of the customer to update.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/UpdateCustomerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateCustomerResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "RetrieveCustomer",
        "operationId": "RetrieveCustomer",
        "description": "Returns details for a single customer.",
        "x-oauthpermissions": [
          "CUSTOMERS_READ"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "description": "The ID of the customer to retrieve.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RetrieveCustomerResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "DeleteCustomer",
        "operationId": "DeleteCustomer",
        "description": "Deletes a customer from a business, along with any linked cards on file.",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "description": "The ID of the customer to delete.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCustomerResponse"
            }
          }
        }
      }
    },
    "/v2/customers/{customer_id}/cards": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "CreateCustomerCard",
        "operationId": "CreateCustomerCard",
        "description": "Adds a card on file to an existing customer.",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "description": "The ID of the customer to link the card on file to.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/CreateCustomerCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCustomerCardResponse"
            }
          }
        }
      }
    },
    "/v2/customers/{customer_id}/cards/{card_id}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "DeleteCustomerCard",
        "operationId": "DeleteCustomerCard",
        "description": "Removes a card on file from a customer.",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "description": "The ID of the customer that the card on file belongs to.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "card_id",
            "description": "The ID of the card on file to delete.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCustomerCardResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/transactions/{transaction_id}/capture": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "CaptureTransaction",
        "operationId": "CaptureTransaction",
        "description": "Captures a transaction that was created with the [Charge](#endpoint-charge)\nendpoint with a `delay_capture` value of `true`.\n\nSee [Delayed capture transactions](/articles/delayed-capture-transactions/)\nfor more information.",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "transaction_id",
            "description": "",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CaptureTransactionResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/transactions/{transaction_id}/void": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "VoidTransaction",
        "operationId": "VoidTransaction",
        "description": "Cancels a transaction that was created with the [Charge](#endpoint-charge)\nendpoint with a `delay_capture` value of `true`.\n\nSee [Delayed capture transactions](/articles/delayed-capture-transactions/)\nfor more information.",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "transaction_id",
            "description": "",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VoidTransactionResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/transactions/{transaction_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "RetrieveTransaction",
        "operationId": "RetrieveTransaction",
        "description": "Retrieves details for a single transaction.",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the transaction\u0027s associated location.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "transaction_id",
            "description": "The ID of the transaction to retrieve.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RetrieveTransactionResponse"
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}/checkouts": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "CreateCheckout",
        "operationId": "CreateCheckout",
        "description": "Creates a [Checkout](#type-checkout) response that links a\n`checkoutId` and `checkout_page_url` that customers can be directed to in\norder to provide their payment information using a payment processing\nworkflow hosted on connect.squareup.com.",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE",
          "ORDERS_V2_WRITE"
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE",
              "ORDERS_V2_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the business location to associate the checkout with.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/CreateCheckoutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCheckoutResponse"
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "V1Locations"
        ],
        "summary": "Get a business\u0027s information.",
        "operationId": "RetrieveBusiness",
        "description": "Get a business\u0027s information.",
        "parameters": [],
        "security": [
          {
            "oauth2": [
              "MERCHANT_PROFILE_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-merchantid"
        },
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/v1Merchant"
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/me/locations": {
      "get": {
        "tags": [
          "V1Locations"
        ],
        "summary": "Provides details for a business\u0027s locations, including their IDs.",
        "operationId": "ListLocations",
        "description": "Provides details for a business\u0027s locations, including their IDs.",
        "parameters": [],
        "security": [
          {
            "oauth2": [
              "MERCHANT_PROFILE_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-locations"
        },
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Merchant"
              }
            }
          }
        }
      }
    },
    "/v1/me/employees": {
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Creates an employee for a business.",
        "operationId": "CreateEmployee",
        "description": "Creates an employee for a business.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Employee"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-employees"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Employee"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides summary information for all of a business\u0027s employees.",
        "operationId": "ListEmployees",
        "description": "Provides summary information for all of a business\u0027s employees.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "description": "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC ",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "begin_updated_at",
            "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_updated_at",
            "description": "If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_created_at",
            "description": "If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_created_at",
            "description": "If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "status",
            "in": "query",
            "description": "If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).",
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "If provided, the endpoint returns only employee entities with the specified external_id.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "type": "integer",
            "maximum": 200
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-employees"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Employee"
              }
            }
          }
        }
      }
    },
    "/v1/me/employees/{employee_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides the details for a single employee.",
        "operationId": "RetrieveEmployee",
        "description": "Provides the details for a single employee.",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The employee\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-employeeid"
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Employee"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "V1 UpdateEmployee",
        "operationId": "UpdateEmployee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The ID of the role to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Employee"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-employeeid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Employee"
            }
          }
        }
      }
    },
    "/v1/me/roles": {
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Creates an employee role you can then assign to employees.",
        "operationId": "CreateEmployeeRole",
        "description": "Creates an employee role you can then assign to employees.",
        "parameters": [
          {
            "name": "EmployeeRole",
            "in": "body",
            "required": true,
            "description": "An EmployeeRole object with a name and permissions, and an optional owner flag.",
            "schema": {
              "$ref": "#/definitions/v1EmployeeRole"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-roles"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1EmployeeRole"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides summary information for all of a business\u0027s employee roles.",
        "operationId": "ListEmployeeRoles",
        "description": "Provides summary information for all of a business\u0027s employee roles.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "description": "The order in which employees are listed in the response, based on their created_at field.Default value: ASC ",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "type": "integer",
            "maximum": 200
          },
          {
            "name": "cursor",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-roles"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link.",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1EmployeeRole"
              }
            }
          }
        }
      }
    },
    "/v1/me/roles/{role_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides the details for a single employee role.",
        "operationId": "RetrieveEmployeeRole",
        "description": "Provides the details for a single employee role.",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The role\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-roleid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1EmployeeRole"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Modifies the details of an employee role.",
        "operationId": "UpdateEmployeeRole",
        "description": "Modifies the details of an employee role.",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The ID of the role to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1EmployeeRole"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-roleid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1EmployeeRole"
            }
          }
        }
      }
    },
    "/v1/me/timecards": {
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Creates a timecard for an employee. Each timecard corresponds to a single shift.",
        "operationId": "CreateTimecard",
        "description": "Creates a timecard for an employee. Each timecard corresponds to a single shift.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Timecard"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-timecards"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Timecard"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides summary information for all of a business\u0027s employee timecards.",
        "operationId": "ListTimecards",
        "description": "Provides summary information for all of a business\u0027s employee timecards.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "description": "The order in which timecards are listed in the response, based on their created_at field.",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "employee_id",
            "description": "If provided, the endpoint returns only timecards for the employee with the specified ID.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_clockin_time",
            "description": "If filtering results by their clockin_time field, the beginning of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_clockin_time",
            "description": "If filtering results by their clockin_time field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_clockout_time",
            "description": "If filtering results by their clockout_time field, the beginning of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_clockout_time",
            "description": "If filtering results by their clockout_time field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_updated_at",
            "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_updated_at",
            "description": "If filtering results by their updated_at field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "deleted",
            "description": "If true, only deleted timecards are returned. If false, only valid timecards are returned.If you don\u0027t provide this parameter, both valid and deleted timecards are returned.",
            "type": "boolean",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "type": "integer",
            "maximum": 200
          },
          {
            "name": "cursor",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-timecards"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Timecard"
              }
            }
          }
        }
      }
    },
    "/v1/me/timecards/{timecard_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides the details for a single timecard.",
        "operationId": "RetrieveTimecard",
        "description": "Provides the details for a single timecard.",
        "parameters": [
          {
            "name": "timecard_id",
            "in": "path",
            "description": "The timecard\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-timecardid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Timecard"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Modifies a timecard\u0027s details. This creates an API_EDIT event for the timecard. You can view a timecard\u0027s event history with the List Timecard Events endpoint.",
        "operationId": "UpdateTimecard",
        "description": "Modifies a timecard\u0027s details. This creates an API_EDIT event for the timecard. You can view a timecard\u0027s event history with the List Timecard Events endpoint.",
        "parameters": [
          {
            "name": "timecard_id",
            "in": "path",
            "description": "TThe ID of the timecard to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Timecard"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-timecardid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Timecard"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.",
        "operationId": "DeleteTimecard",
        "description": "Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.",
        "parameters": [
          {
            "name": "timecard_id",
            "in": "path",
            "description": "The ID of the timecard to delete.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-timecardid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/me/timecards/{timecard_id}/events": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides summary information for all events associated with a particular timecard.",
        "operationId": "ListTimecardEvents",
        "description": "Provides summary information for all events associated with a particular timecard.",
        "parameters": [
          {
            "name": "timecard_id",
            "in": "path",
            "description": "The ID of the timecard to list events for.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-events"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1TimecardEvent"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/cash-drawer-shifts": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides the details for all of a location\u0027s cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.",
        "operationId": "ListCashDrawerShifts",
        "description": "Provides the details for all of a location\u0027s cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list cash drawer shifts for.",
            "type": "string",
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which cash drawer shifts are listed in the response, based on their created_at field. Default value: ASC",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time minus 90 days.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershifts"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1CashDrawerShift"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/cash-drawer-shifts/{shift_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "Provides the details for a single cash drawer shift, including all events that occurred during the shift.",
        "operationId": "RetrieveCashDrawerShift",
        "description": "Provides the details for a single cash drawer shift, including all events that occurred during the shift.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list cash drawer shifts for.",
            "type": "string",
            "required": true
          },
          {
            "name": "shift_id",
            "in": "path",
            "description": "The shift\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershiftid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1CashDrawerShift"
            }
          }
        }
      }
    },
    "/v1/{location_id}/payments": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides summary information for all payments taken by a merchant or any of the merchant\u0027s mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.",
        "operationId": "ListPayments",
        "description": "Provides summary information for all payments taken by a merchant or any of the merchant\u0027s mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list payments for. If you specify me, this endpoint returns payments aggregated from all of the business\u0027s locations.",
            "type": "string",
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which payments are listed in the response.",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "type": "integer",
            "maximum": 200
          }
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-payments"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Payment"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/payments/{payment_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides comprehensive information for a single payment.",
        "operationId": "RetrievePayment",
        "description": "Provides comprehensive information for a single payment.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the payment\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "payment_id",
            "in": "path",
            "description": "The payment\u0027s Square-issued ID. You obtain this value from Payment objects returned by the List Payments endpoint, or Settlement objects returned by the List Settlements endpoint.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-paymentid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Payment"
            }
          }
        }
      }
    },
    "/v1/{location_id}/settlements": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides summary information for all deposits and withdrawals initiated by Square to a merchant\u0027s bank account during a date range. Date ranges cannot exceed one year in length.",
        "operationId": "ListSettlements",
        "description": "Provides summary information for all deposits and withdrawals initiated by Square to a merchant\u0027s bank account during a date range. Date ranges cannot exceed one year in length. ",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list settlements for. If you specify me, this endpoint returns payments aggregated from all of the business\u0027s locations.",
            "type": "string",
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "TThe order in which payments are listed in the response.",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "type": "integer",
            "maximum": 200,
            "required": false
          },
          {
            "name": "status",
            "in": "query",
            "description": "Provide this parameter to retrieve only settlements with a particular status (SENT or FAILED).",
            "type": "string",
            "enum": [
              "SENT",
              "FAILED"
            ],
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "SETTLEMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-settlements"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Settlement"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/settlements/{settlement_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides comprehensive information for a single settlement, including the entries that contribute to the settlement\u0027s total.",
        "operationId": "RetrieveSettlement",
        "description": "Provides comprehensive information for a single settlement, including the entries that contribute to the settlement\u0027s total.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the settlements\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "settlement_id",
            "in": "path",
            "description": "The settlement\u0027s Square-issued ID. You obtain this value from Settlement objects returned by the List Settlements endpoint.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "SETTLEMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-settlementid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Settlement"
            }
          }
        }
      }
    },
    "/v1/{location_id}/refunds": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides the details for all refunds initiated by a merchant or any of the merchant\u0027s mobile staff during a date range. Date ranges cannot exceed one year in length.",
        "operationId": "ListRefunds",
        "description": "Provides the details for all refunds initiated by a merchant or any of the merchant\u0027s mobile staff during a date range. Date ranges cannot exceed one year in length.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list refunds for.",
            "type": "string",
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "TThe order in which payments are listed in the response.",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "type": "integer",
            "maximum": 200,
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-refunds"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Refund"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.",
        "operationId": "CreateRefund",
        "description": "Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the original payment\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1CreateRefundRequest"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-refunds"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Refund"
            }
          }
        }
      }
    },
    "/v1/{location_id}/orders": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides summary information for a merchant\u0027s online store orders.",
        "operationId": "ListOrders",
        "description": "Provides summary information for a merchant\u0027s online store orders.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list online store orders for.",
            "type": "string",
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "TThe order in which payments are listed in the response.",
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ],
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "type": "integer",
            "maximum": 200,
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-ordrers"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Order"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/orders/{order_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides comprehensive information for a single online store order, including the order\u0027s history.",
        "operationId": "RetrieveOrder",
        "description": "Provides comprehensive information for a single online store order, including the order\u0027s history.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the order\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "The order\u0027s Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-orderid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Order"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
        "operationId": "UpdateOrder",
        "description": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the order\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "The order\u0027s Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1UpdateOrderRequest"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ORDERS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-orderid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Order"
            }
          }
        }
      }
    },
    "/v1/{location_id}/bank-accounts": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides non-confidential details for all of a location\u0027s associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "operationId": "ListBankAccounts",
        "description": "Provides non-confidential details for all of a location\u0027s associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list bank accounts for.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-bankaccounts"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1BankAccount"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/bank-accounts/{bank_account_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "Provides non-confidential details for a merchant\u0027s associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "operationId": "RetrieveBankAccount",
        "description": "Provides non-confidential details for a merchant\u0027s associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the bank account\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "bank_account_id",
            "in": "path",
            "description": "The bank account\u0027s Square-issued ID. You obtain this value from Settlement objects returned.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-bankaccountid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1BankAccount"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "Creates an item and at least one variation for it.",
        "operationId": "CreateItem",
        "description": "Creates an item and at least one variation for it.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to create an item for.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-items"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "Provides summary information for all of a location\u0027s items.",
        "operationId": "ListItems",
        "description": "Provides summary information for all of a location\u0027s items.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list items for.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-items"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Link": {
                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                "type": "string"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1Item"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "Provides the details for a single item, including associated modifier lists and fees.",
        "operationId": "RetrieveItem",
        "description": "Provides the details for a single item, including associated modifier lists and fees.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-itemid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "Modifies the core details of an existing item.",
        "operationId": "UpdateItem",
        "description": "Modifies the core details of an existing item.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The ID of the item to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-itemid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "Deletes an existing item and all item variations associated with it.",
        "operationId": "DeleteItem",
        "description": "Deletes an existing item and all item variations associated with it.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The ID of the item to modify.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-itemid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Item"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/variations": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "Creates an item variation for an existing item.",
        "operationId": "CreateVariation",
        "description": "Creates an item variation for an existing item.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item\u0027s ID.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Variation"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-variations"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Variation"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/variations/{variation_id}": {
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "Modifies the details of an existing item variation.",
        "operationId": "UpdateVariation",
        "description": "Modifies the details of an existing item variation.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The ID of the item to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "variation_id",
            "in": "path",
            "description": "The ID of the variation to modify.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1Variation"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#put-variationid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Variation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "Deletes an existing item variation from an item.",
        "operationId": "DeleteVariation",
        "description": "Deletes an existing item variation from an item.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The ID of the item to delete.",
            "type": "string",
            "required": true
          },
          {
            "name": "variation_id",
            "in": "path",
            "description": "The ID of the variation to delete.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-variationid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1Variation"
            }
          }
        }
      }
    },
    "/v1/{location_id}/inventory": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "Provides inventory information for all of a merchant\u0027s inventory-enabled item variations.",
        "operationId": "ListInventory",
        "description": "Provides inventory information for all of a merchant\u0027s inventory-enabled item variations.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "limit",
            "description": "The maximum number of inventory entries to return in a single response. This value cannot exceed 1000.",
            "type": "integer",
            "maximum": 1000,
            "in": "query",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-inventory"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1InventoryEntry"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/inventory/{variation_id}": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "Adjusts an item variation\u0027s current available inventory.",
        "operationId": "AdjustInventory",
        "description": "Adjusts an item variation\u0027s current available inventory.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "variation_id",
            "in": "path",
            "description": "The ID of the variation to adjust inventory information for.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1AdjustInventoryRequest"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-inventory-variationid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1InventoryEntry"
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "Creates an item modifier list and at least one modifier option for it.",
        "operationId": "CreateModifierList",
        "description": "Creates an item modifier list and at least one modifier option for it.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to create a modifier list for.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/v1ModifierList"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#post-modifierlists"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1ModifierList"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "Lists all of a location\u0027s modifier lists.",
        "operationId": "ListModifierLists",
        "description": "Lists all of a location\u0027s modifier lists.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list modifier lists for.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-modifierlists"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/v1ModifierList"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists/{modifier_list_id}": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "Provides the details for a single modifier list.",
        "operationId": "RetrieveModifierList",
        "description": "Provides the details for a single modifier list.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "in": "path",
            "description": "The modifier list\u0027s ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "externalDocs": {
          "description": "Read the offical documentation here:",
          "url": "https://docs.connect.squareup.com/api/connect/v1/#get-modifierlistid"
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/v1ModifierList"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "Modifies the details of an existing item modifier list.",
        "operationId": "UpdateModifierList",
        "description": "Modifies the details of an existing item modifier list.",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the item\u0027s associated location.",
            "type": "string",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "in": "path",
            "description": "The ID of the modifier list to edit.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
[...]
