{
    "swagger": "2.0",
    "info": {
        "version": "3.0",
        "title": "Square Connect API",
        "description": "Client library for accessing the Square Connect APIs",
        "termsOfService": "https://connect.squareup.com/tos",
        "contact": {
            "name": "Square Developer Platform",
            "email": "developers@squareup.com",
            "url": "https://squareup.com/developers"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "externalDocs": {
        "description": "Read the offical documentation here:",
        "url": "https://docs.connect.squareup.com/"
    },
    "host": "connect.squareup.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "personal_access_token": {
            "type": "apiKey",
            "description": "Access token for accessing a single Square Account",
            "name": "Authorization",
            "in": "header"
        },
        "oauth2": {
            "type": "oauth2",
            "authorizationUrl": "https://connect.squareup.com/oauth2/authorize?<PARAMETERS>",
            "flow": "accessCode",
            "tokenUrl": "https://connect.squareup.com/oauth2/token",
            "scopes": {
                "MERCHANT_PROFILE_READ": "GET endpoints related to a merchant's business and location entities. Almost all Connect API applications need this permission in order to obtain a merchant's location IDs.",
                "PAYMENTS_READ": "GET endpoints related to transactions and refunds.",
                "PAYMENTS_WRITE": " POST, PUT, and DELETE endpoints related to transactions and refunds. E-commerce applications must request this permission.",
                "CUSTOMERS_READ": " GET endpoints related to customer management.",
                "CUSTOMERS_WRITE": "POST, PUT, and DELETE endpoints related to customer management.",
                "SETTLEMENTS_READ": "GET endpoints related to settlements (deposits).",
                "BANK_ACCOUNTS_READ": "GET endpoints related to a merchant's bank accounts.",
                "ITEMS_READ": "GET endpoints related to a merchant's item library.",
                "ITEMS_WRITE": "POST, PUT, and DELETE endpoints related to a merchant's item library.",
                "ORDERS_READ": "GET endpoints related to a merchant's Square online store.",
                "ORDERS_WRITE": "POST, PUT, and DELETE endpoints related to a merchant's Square online store.",
                "EMPLOYEES_READ": "GET endpoints related to employee management.",
                "EMPLOYEES_WRITE": "POST, PUT, and DELETE endpoints related to employee management.",
                "TIMECARDS_READ": "GET endpoints related to employee timecards.",
                "TIMECARDS_WRITE": "POST, PUT, and DELETE endpoints related to employee timecards."
            }
        }
    },
    "paths": {
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Exchange an Authorization code for an Access Token ",
                "operationId": "GetAccessToken",
                "description": "Exchange an Authorization code for an Access Token ",
                "parameters": [{
                    "name": "AccessTokenRequest",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/AccessTokenRequest"
                    }
                }],
                "security": [],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/oauth/#exchangecodefortoken"
                },
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AccessTokenResponse"
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/oauth2/clients/{application_id}/access-token/renew": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Renew your Access Token.",
                "operationId": "RenewToken",
                "description": "Renew your Access Token.",
                "parameters": [{
                    "name": "application_id",
                    "description": "Your Application ID.",
                    "type": "string",
                    "in": "path",
                    "required": true
                }, {
                    "name": "AccessTokenRenewRequest",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/AccessTokenRenewRequest"
                    }
                }],
                "security": [],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/oauth/#oauthflowrenewtoken"
                },
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AccessTokenResponse"
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/v1/me": {
            "get": {
                "tags": [
                    "v1BusinessManagement"
                ],
                "summary": "Get a business's information.",
                "operationId": "v1RetrieveBusiness",
                "description": "Get a business's information.",
                "parameters": [],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["MERCHANT_PROFILE_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-merchantid"
                },
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/v1Merchant"
                        },
                        "headers": {}
                    }
                }
            }
        },
        "/v1/me/locations": {
            "get": {
                "tags": [
                    "v1BusinessManagement"
                ],
                "summary": "Provides details for a business's locations, including their IDs.",
                "operationId": "v1ListLocations",
                "description": "Provides details for a business's locations, including their IDs.",
                "parameters": [],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["MERCHANT_PROFILE_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-locations"
                },
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Merchant"
                            }
                        }
                    }
                }
            }
        },
        "/v1/me/employees": {
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Creates an employee for a business.",
                "operationId": "CreateEmployee",
                "description": "Creates an employee for a business.",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/CreateEmployeeRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-employees"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Employee"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides summary information for all of a business's employees.",
                "operationId": "ListEmployees",
                "description": "Provides summary information for all of a business's employees.",
                "parameters": [{
                    "name": "order",
                    "in": "query",
                    "description": "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC ",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ]
                }, {
                    "name": "begin_updated_at",
                    "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_updated_at",
                    "description": "If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "begin_created_at",
                    "description": "If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_created_at",
                    "description": "If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "status",
                    "in": "query",
                    "description": "If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).",
                    "type": "string",
                    "enum": [
                        "ACTIVE",
                        "INACTIVE"
                    ]
                }, {
                    "name": "external_id",
                    "in": "query",
                    "description": "If provided, the endpoint returns only employee entities with the specified external_id.",
                    "type": "string"
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
                    "type": "integer",
                    "maximum": 200
                }, {
                    "name": "cursor",
                    "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-employees"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Employee"
                            }
                        }
                    }
                }
            }
        },
        "/v1/me/employees/{employee_id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides the details for a single employee.",
                "operationId": "RetrieveEmployee",
                "description": "Provides the details for a single employee.",
                "parameters": [{
                    "name": "employee_id",
                    "in": "path",
                    "description": "The employee's ID.",
                    "type": "string",
                    "required": true
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-employeeid"
                },
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_READ"]
                }],
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Employee"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Employees"
                ],
                "summary": "v1UpdateEmployee",
                "operationId": "UpdateEmployee",
                "parameters": [{
                    "name": "employee_id",
                    "in": "path",
                    "description": "The ID of the role to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/UpdateEmployeeRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-employeeid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Employee"
                        }
                    }
                }
            }
        },
        "/v1/me/roles": {
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Creates an employee role you can then assign to employees.",
                "operationId": "CreateRole",
                "description": "Creates an employee role you can then assign to employees.",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/RoleRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-roles"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides summary information for all of a business's employee roles.",
                "operationId": "ListRoles",
                "description": "Provides summary information for all of a business's employee roles.",
                "parameters": [{
                    "name": "order",
                    "in": "query",
                    "description": "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC ",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ]
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
                    "type": "integer",
                    "maximum": 200
                }, {
                    "name": "cursor",
                    "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-roles"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Role"
                            }
                        }
                    }
                }
            }
        },
        "/v1/me/roles/{role_id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides the details for a single employee role.",
                "operationId": "RetrieveRole",
                "description": "Provides the details for a single employee role.",
                "parameters": [{
                    "name": "role_id",
                    "in": "path",
                    "description": "The role's ID.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-roleid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Employees"
                ],
                "summary": "Modifies the details of an employee role.",
                "operationId": "UpdateRole",
                "description": "Modifies the details of an employee role.",
                "parameters": [{
                    "name": "role_id",
                    "in": "path",
                    "description": "The ID of the role to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/RoleRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["EMPLOYEES_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-roleid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                }
            }
        },
        "/v1/me/timecards": {
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Creates a timecard for an employee. Each timecard corresponds to a single shift.",
                "operationId": "CreateTimecard",
                "description": "Creates a timecard for an employee. Each timecard corresponds to a single shift.",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/CreateTimecardRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-timecards"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Timecard"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides summary information for all of a business's employee timecards.",
                "operationId": "ListTimecards",
                "description": "Provides summary information for all of a business's employee timecards.",
                "parameters": [{
                    "name": "order",
                    "in": "query",
                    "description": "The order in which timecards are listed in the response, based on their created_at field.",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "employee_id",
                    "description": "If provided, the endpoint returns only timecards for the employee with the specified ID.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "begin_clockin_time",
                    "description": "If filtering results by their clockin_time field, the beginning of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_clockin_time",
                    "description": "If filtering results by their clockin_time field, the end of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "begin_clockout_time",
                    "description": "If filtering results by their clockout_time field, the beginning of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_clockout_time",
                    "description": "If filtering results by their clockout_time field, the end of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "begin_updated_at",
                    "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_updated_at",
                    "description": "If filtering results by their updated_at field, the end of the requested reporting period, in ISO 8601 format.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "deleted",
                    "description": "If true, only deleted timecards are returned. If false, only valid timecards are returned.If you don't provide this parameter, both valid and deleted timecards are returned.",
                    "type": "boolean",
                    "in": "query",
                    "required": false
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
                    "type": "integer",
                    "maximum": 200
                }, {
                    "name": "cursor",
                    "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-timecards"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Timecard"
                            }
                        }
                    }
                }
            }
        },
        "/v1/me/timecards/{timecard_id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides the details for a single timecard.",
                "operationId": "RetrieveTimecard",
                "description": "Provides the details for a single timecard.",
                "parameters": [{
                    "name": "timecard_id",
                    "in": "path",
                    "description": "The timecard's ID.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-timecardid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Timecard"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Employees"
                ],
                "summary": "Modifies a timecard's details. This creates an API_EDIT event for the timecard. You can view a timecard's event history with the List Timecard Events endpoint.",
                "operationId": "UpdateTimecard",
                "description": "Modifies a timecard's details. This creates an API_EDIT event for the timecard. You can view a timecard's event history with the List Timecard Events endpoint.",
                "parameters": [{
                    "name": "timecard_id",
                    "in": "path",
                    "description": "TThe ID of the timecard to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/UpdateTimecardRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-timecardid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/Timecard"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Employees"
                ],
                "summary": "Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.",
                "operationId": "DeleteTimecard",
                "description": "Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.",
                "parameters": [{
                    "name": "timecard_id",
                    "in": "path",
                    "description": "The ID of the timecard to delete.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-timecardid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/me/timecards/{timecard_id}/events": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides summary information for all events associated with a particular timecard.",
                "operationId": "ListTimecardEvents",
                "description": "Provides summary information for all events associated with a particular timecard.",
                "parameters": [{
                    "name": "timecard_id",
                    "in": "path",
                    "description": "The ID of the timecard to list events for.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-events"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TimecardEvent"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/cash-drawer-shifts": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides the details for all of a location's cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.",
                "operationId": "ListCashDrawerShifts",
                "description": "Provides the details for all of a location's cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list cash drawer shifts for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "The order in which cash drawer shifts are listed in the response, based on their created_at field. Default value: ASC",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "begin_time",
                    "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time minus 90 days.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_time",
                    "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["PAYMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershifts"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CashDrawerShift"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/cash-drawer-shifts/{shift_id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Provides the details for a single cash drawer shift, including all events that occurred during the shift.",
                "operationId": "RetrieveCashDrawerShift",
                "description": "Provides the details for a single cash drawer shift, including all events that occurred during the shift.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list cash drawer shifts for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "shift_id",
                    "in": "path",
                    "description": "The shift's ID.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["TIMECARDS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershiftid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/CashDrawerShift"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/payments": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides summary information for all payments taken by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.",
                "operationId": "v1ListPayments",
                "description": "Provides summary information for all payments taken by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list payments for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "TThe order in which payments are listed in the response.",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "begin_time",
                    "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_time",
                    "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
                    "type": "integer",
                    "maximum": 200
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["PAYMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-payments"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Payment"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/payments/{payment_id}": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides comprehensive information for a single payment.",
                "operationId": "v1RetrievePayment",
                "description": "Provides comprehensive information for a single payment.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the payment's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "payment_id",
                    "in": "path",
                    "description": "The payment's Square-issued ID. You obtain this value from Payment objects returned by the List Payments endpoint, or Settlement objects returned by the List Settlements endpoint.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["PAYMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-paymentid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Payment"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/settlements": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides summary information for all deposits and withdrawals initiated by Square to a merchant's bank account during a date range. Date ranges cannot exceed one year in length. ",
                "operationId": "v1ListSettlements",
                "description": "Provides summary information for all deposits and withdrawals initiated by Square to a merchant's bank account during a date range. Date ranges cannot exceed one year in length. ",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list settlements for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "TThe order in which payments are listed in the response.",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "begin_time",
                    "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_time",
                    "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
                    "type": "integer",
                    "maximum": 200,
                    "required": false

                }, {
                    "name": "status",
                    "in": "query",
                    "description": "Provide this parameter to retrieve only settlements with a particular status (SENT or FAILED).",
                    "type": "string",
                    "enum": [
                        "SENT",
                        "FAILED"
                    ],
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["SETTLEMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-settlements"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Settlement"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/settlements/{settlement_id}": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides comprehensive information for a single settlement, including the entries that contribute to the settlement's total.",
                "operationId": "v1RetrieveSettlement",
                "description": "Provides comprehensive information for a single settlement, including the entries that contribute to the settlement's total.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the settlements's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "settlement_id",
                    "in": "path",
                    "description": "The settlement's Square-issued ID. You obtain this value from Settlement objects returned by the List Settlements endpoint.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["SETTLEMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-settlementid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Settlement"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/refunds": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.",
                "operationId": "v1ListRefunds",
                "description": "Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list refunds for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "TThe order in which payments are listed in the response.",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "begin_time",
                    "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "end_time",
                    "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
                    "type": "string",
                    "in": "query",
                    "required": false
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
                    "type": "integer",
                    "maximum": 200,
                    "required": false

                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["PAYMENTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-refunds"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Refund"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.",
                "operationId": "v1CreateRefund",
                "description": "Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the original payment's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1CreateRefundRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["PAYMENTS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-refunds"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Refund"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/orders": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides summary information for a merchant's online store orders.",
                "operationId": "v1ListOrders",
                "description": "Provides summary information for a merchant's online store orders.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list online store orders for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "TThe order in which payments are listed in the response.",
                    "type": "string",
                    "enum": [
                        "ASC",
                        "DESC"
                    ],
                    "required": false
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
                    "type": "integer",
                    "maximum": 200,
                    "required": false

                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ORDERS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-ordrers"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Order"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/orders/{order_id}": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides comprehensive information for a single online store order, including the order's history.",
                "operationId": "v1RetrieveOrder",
                "description": "Provides comprehensive information for a single online store order, including the order's history.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the order's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order_id",
                    "in": "path",
                    "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ORDERS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-orderid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Order"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
                "operationId": "v1UpdateOrder",
                "description": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the order's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "order_id",
                    "in": "path",
                    "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1UpdateOrderRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ORDERS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-orderid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Order"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/bank-accounts": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides non-confidential details for all of a location's associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
                "operationId": "v1ListBankAccounts",
                "description": "Provides non-confidential details for all of a location's associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list bank accounts for.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["BANK_ACCOUNTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-bankaccounts"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1BankAccount"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/bank-accounts/{bank_account_id}": {
            "get": {
                "tags": [
                    "v1Transactions"
                ],
                "summary": "Provides non-confidential details for a merchant's associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
                "operationId": "v1RetrieveBankAccount",
                "description": "Provides non-confidential details for a merchant's associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the bank account's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "bank_account_id",
                    "in": "path",
                    "description": "The bank account's Square-issued ID. You obtain this value from Settlement objects returned.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["BANK_ACCOUNTS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-bankaccountid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1BankAccount"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/items": {
            "post": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Creates an item and at least one variation for it.",
                "operationId": "v1CreateItem",
                "description": "Creates an item and at least one variation for it.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to create an item for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1CreateItemRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-items"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Item"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Provides summary information for all of a location's items.",
                "operationId": "v1ListItems",
                "description": "Provides summary information for all of a location's items.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list items for.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-items"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Link": {
                                "description": "If returned, there are too many items to return in one request and you must paginate with the supplied link. ",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1Item"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/items/{item_id}": {
            "get": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Provides the details for a single item, including associated modifier lists and fees.",
                "operationId": "v1RetrieveItem",
                "description": "Provides the details for a single item, including associated modifier lists and fees.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The item's ID.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-itemid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Item"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Modifies the core details of an existing item.",
                "operationId": "v1UpdateItem",
                "description": "Modifies the core details of an existing item.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The ID of the item to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1UpdateItemRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-itemid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Item"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Deletes an existing item and all item variations associated with it.",
                "operationId": "v1DeleteItem",
                "description": "Deletes an existing item and all item variations associated with it.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The ID of the item to modify.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-itemid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1Item"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/items/{item_id}/variations": {
            "post": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Creates an item variation for an existing item.",
                "operationId": "v1CreateVariation",
                "description": "Creates an item variation for an existing item.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The item's ID.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1CreateItemVariation"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-variations"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemVariation"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/items/{item_id}/variations/{variation_id}": {
            "put": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Modifies the details of an existing item variation.",
                "operationId": "v1UpdateVaration",
                "description": "Modifies the details of an existing item variation.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The ID of the item to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "variation_id",
                    "in": "path",
                    "description": "The ID of the variation to modify.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1UpdateItemVariation"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-variationid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemVariation"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Deletes an existing item variation from an item.",
                "operationId": "v1DeleteVaration",
                "description": "Deletes an existing item variation from an item.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The ID of the item to delete.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "variation_id",
                    "in": "path",
                    "description": "The ID of the variation to delete.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-variationid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemVariation"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/inventory": {
            "get": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Provides inventory information for all of a merchant's inventory-enabled item variations.",
                "operationId": "v1ListInventory",
                "description": "Provides inventory information for all of a merchant's inventory-enabled item variations.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "limit",
                    "description": "The maximum number of inventory entries to return in a single response. This value cannot exceed 1000.",
                    "type": "integer",
                    "maximum": 1000,
                    "in": "query",
                    "required": false
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-inventory"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1ItemInventoryEntry"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/inventory/{variation_id}": {
            "post": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Adjusts an item variation's current available inventory.",
                "operationId": "v1AdjustInventory",
                "description": "Adjusts an item variation's current available inventory.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "variation_id",
                    "in": "path",
                    "description": "The ID of the variation to adjust inventory information for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1AdjustItemInventoryRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-inventory-variationid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemInventoryEntry"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/modifier-lists": {
            "post": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Creates an item modifier list and at least one modifier option for it.",
                "operationId": "v1CreateModifierList",
                "description": "Creates an item modifier list and at least one modifier option for it.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to create a modifier list for.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1ItemModifierList"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#post-modifierlists"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemModifierList"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Lists all of a location's modifier lists.",
                "operationId": "v1ListModifierLists",
                "description": "Lists all of a location's modifier lists.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the location to list modifier lists for.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-modifierlists"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1ItemModifierList"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/modifier-lists/{modifier_list_id}": {
            "get": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Provides the details for a single modifier list.",
                "operationId": "v1RetrieveModiferList",
                "description": "Provides the details for a single modifier list.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "modifier_list_id",
                    "in": "path",
                    "description": "The modifier list's ID.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_READ"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#get-modifierlistid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemModifierList"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Modifies the details of an existing item modifier list.",
                "operationId": "v1UpdateModifierList",
                "description": "Modifies the details of an existing item modifier list.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "modifier_list_id",
                    "in": "path",
                    "description": "The ID of the modifier list to edit.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "body",
                    "in": "body",
                    "required": true,
                    "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
                    "schema": {
                        "$ref": "#/definitions/v1UpdateModifierListRequest"
                    }
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#put-modifierlistid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemModifierList"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Deletes an existing item modifier list and all modifier options associated with it.",
                "operationId": "v1DeleteModiferList",
                "description": "Deletes an existing item modifier list and all modifier options associated with it.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "modifier_list_id",
                    "in": "path",
                    "description": "The ID of the modifier list to delete.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
                    "url": "https://docs.connect.squareup.com/api/connect/v1/#delete-modifierlistid"
                },
                "deprecated": false,
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/v1ItemModifierList"
                        }
                    }
                }
            }
        },
        "/v1/{location_id}/items/{item_id}/modifier-lists/{modifier_list_id}": {
            "put": {
                "tags": [
                    "v1Items"
                ],
                "summary": "Associates a modifier list with an item, meaning modifier options from the list can be applied to the item.",
                "operationId": "v1ApplyModiferList",
                "description": "Associates a modifier list with an item, meaning modifier options from the list can be applied to the item.",
                "parameters": [{
                    "name": "location_id",
                    "in": "path",
                    "description": "The ID of the item's associated location.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "modifier_list_id",
                    "in": "path",
                    "description": "The ID of the modifier list to apply.",
                    "type": "string",
                    "required": true
                }, {
                    "name": "item_id",
                    "in": "path",
                    "description": "The ID of the item to add the modifier list to.",
                    "type": "string",
                    "required": true
                }],
                "security": [{
                    "personal_access_token": [],
                    "oauth2": ["ITEMS_WRITE"]
                }],
                "externalDocs": {
                    "description": "Read the offical documentation here:",
[...]
