{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Square Connect API",
    "description": "Client library for accessing the Square Connect APIs",
    "termsOfService": "https://connect.squareup.com/tos",
    "contact": {
      "name": "Square Developer Platform",
      "email": "developers@squareup.com",
      "url": "https://squareup.com/developers"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "externalDocs": {
    "description": "Read the official documentation here:",
    "url": "https://docs.connect.squareup.com/"
  },
  "host": "connect.squareup.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "authorizationUrl": "https://connect.squareup.com/oauth2/authorize",
      "flow": "accessCode",
      "tokenUrl": "https://connect.squareup.com/oauth2/token",
      "scopes": {
        "BANK_ACCOUNTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to bank account information associated with the targeted\nSquare account. For example, to call the Connect v1 ListBankAccounts endpoint.",
        "CASH_DRAWER_READ": "__HTTP Method__: `GET`\n\nGrants read access to cash drawer shift information. For example, to call the\nListCashDrawerShifts endpoint.",
        "CUSTOMERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to customer information. For example, to call the\nListCustomers endpoint.",
        "CUSTOMERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to customer information. For example, to create and update\ncustomer profiles.",
        "DEVICE_CREDENTIAL_MANAGEMENT": "__HTTP Method__: `POST`, `GET`\n\nGrants read/write access to device credentials information. For example, to\ncall the CreateDeviceCode endpoint.",
        "EMPLOYEES_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee profile information. For example, to call the\nConnect v1 Employees API.",
        "EMPLOYEES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee profile information. For example, to create\nand modify employee profiles.",
        "INVENTORY_READ": "__HTTP Method__: `GET`\n\nGrants read access to inventory information. For example, to call the\nRetrieveInventoryCount endpoint.",
        "INVENTORY_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to inventory information. For example, to call the\nBatchChangeInventory endpoint.",
        "ITEMS_READ": "__HTTP Method__: `GET`\n\nGrants read access to business and location information. For example, to\nobtain a location ID for subsequent activity.",
        "ITEMS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to product catalog information. For example, to modify or\nadd to a product catalog.",
        "LOYALTY_READ": "__HTTP Method__: `GET`\n\nGrants read access to loyalty information. For example, to call the\nListLoyaltyPrograms endpoint.",
        "LOYALTY_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to loyalty information. For example, to call the\nCreateLoyaltyAccount endpoint.",
        "MERCHANT_PROFILE_READ": "__HTTP Method__: `GET`\n\nGrants read access to business and location information. For example, to\nobtain a location ID for subsequent activity.",
        "ORDERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to order information. For example, to call the\nBatchRetrieveOrders endpoint.",
        "ORDERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to order information. For example, to call the\nCreateCheckout endpoint.",
        "PAYMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to transaction and refund information. For example, to call\nthe RetrieveTransaction endpoint.",
        "PAYMENTS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to transaction and refunds information. For example, to\nprocess payments with the Payments or Checkout API.",
        "PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nAllow third party applications to deduct a portion of each transaction amount.\n__Required__ to use multiparty transaction functionality with the Payments\nAPI.",
        "PAYMENTS_WRITE_IN_PERSON": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to payments and refunds information. For example, to\nprocess in-person payments.",
        "SETTLEMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to settlement (deposit) information. For example, to call\nthe Connect v1 ListSettlements endpoint.",
        "TIMECARDS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard information. For example, to call the\nConnect v2 SearchShifts endpoint.",
        "TIMECARDS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee shift information. For example, to create\nand modify employee shifts.",
        "TIMECARDS_SETTINGS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard settings information. For example, to\ncall the GetBreakType endpoint.",
        "TIMECARDS_SETTINGS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee timecard settings information. For example, to\ncall the UpdateBreakType endpoint."
      }
    },
    "oauth2ClientSecret": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "paths": {
    "/mobile/authorization-code": {
      "post": {
        "tags": [
          "MobileAuthorization"
        ],
        "summary": "CreateMobileAuthorizationCode",
        "operationId": "CreateMobileAuthorizationCode",
        "description": "Generates code to authorize a mobile application to connect to a Square card reader\n\nAuthorization codes are one-time-use and expire __60 minutes__ after being issued.\n\n__Important:__ The `Authorization` header you provide to this endpoint must have the following format:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\nReplace `ACCESS_TOKEN` with a\n[valid production authorization credential](/docs/build-basics/access-tokens).",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE_IN_PERSON"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE_IN_PERSON"
            ]
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/CreateMobileAuthorizationCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateMobileAuthorizationCodeResponse"
            }
          }
        }
      }
    },
    "/oauth2/clients/{client_id}/access-token/renew": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "RenewToken",
        "operationId": "RenewToken",
        "description": "`RenewToken` is deprecated. For information about refreshing OAuth access tokens, see\n[Renew OAuth Token](https://developer.squareup.com/docs/oauth-api/cookbook/renew-oauth-tokens).\n\n\nRenews an OAuth access token before it expires.\n\nOAuth access tokens besides your application\u0027s personal access token expire after __30 days__.\nYou can also renew expired tokens within __15 days__ of their expiration.\nYou cannot renew an access token that has been expired for more than 15 days.\nInstead, the associated user must re-complete the OAuth flow from the beginning.\n\n__Important:__ The `Authorization` header for this endpoint must have the\nfollowing format:\n\n```\nAuthorization: Client APPLICATION_SECRET\n```\n\nReplace `APPLICATION_SECRET` with the application secret on the Credentials\npage in the [application dashboard](https://connect.squareup.com/apps).",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2ClientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "description": "Your application ID, available from the [application dashboard](https://connect.squareup.com/apps).",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/RenewTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RenewTokenResponse"
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "RevokeToken",
        "operationId": "RevokeToken",
        "description": "Revokes an access token generated with the OAuth flow.\n\nIf an account has more than one OAuth access token for your application, this\nendpoint revokes all of them, regardless of which token you specify. When an\nOAuth access token is revoked, all of the active subscriptions associated\nwith that OAuth token are canceled immediately.\n\n__Important:__ The `Authorization` header for this endpoint must have the\nfollowing format:\n\n```\nAuthorization: Client APPLICATION_SECRET\n```\n\nReplace `APPLICATION_SECRET` with the application secret on the Credentials\npage in the [application dashboard](https://connect.squareup.com/apps).",
        "x-release-status": "PUBLIC",
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2ClientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/RevokeTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RevokeTokenResponse"
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "ObtainToken",
        "operationId": "ObtainToken",
        "description": "Returns an OAuth access token.\n\nThe endpoint supports distinct methods of obtaining OAuth access tokens.\nApplications specify a method by adding the `grant_type` parameter\nin the request and also provide relevant information.\nFor more information, see [OAuth access token management](/authz/oauth/how-it-works#oauth-access-token-management).\n\n__Note:__ Regardless of the method application specified,\nthe endpoint always returns two items; an OAuth access token and\na refresh token in the response.\n\n__OAuth tokens should only live on secure servers. Application clients\nshould never interact directly with OAuth tokens__.",
        "x-release-status": "PUBLIC",
        "x-sq-version": "2020-08-26",
        "security": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/ObtainTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ObtainTokenResponse"
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "V1Locations"
        ],
        "summary": "RetrieveBusiness",
        "operationId": "RetrieveBusiness",
        "description": "Get the general information for a business.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "MERCHANT_PROFILE_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "MERCHANT_PROFILE_READ"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Merchant"
            }
          }
        }
      }
    },
    "/v1/me/employees": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListEmployees",
        "operationId": "ListEmployees",
        "description": "Provides summary information for all of a business\u0027s employees.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "order",
            "description": "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_updated_at",
            "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_updated_at",
            "description": "If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_created_at",
            "description": "If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_created_at",
            "description": "If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "status",
            "description": "If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "external_id",
            "description": "If provided, the endpoint returns only employee entities with the specified external_id.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "type": "integer",
            "in": "query",
            "required": false
          },
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Employee"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "CreateEmployee",
        "operationId": "CreateEmployee",
        "description": " Use the CreateEmployee endpoint to add an employee to a Square\naccount. Employees created with the Connect API have an initial status\nof `INACTIVE`. Inactive employees cannot sign in to Square Point of Sale\nuntil they are activated from the Square Dashboard. Employee status\ncannot be changed with the Connect API.\n\n\u003caside class\u003d\"important\"\u003e\nEmployee entities cannot be deleted. To disable employee profiles,\nset the employee\u0027s status to \u003ccode\u003eINACTIVE\u003c/code\u003e\n\u003c/aside\u003e",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Employee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Employee"
            }
          }
        }
      }
    },
    "/v1/me/employees/{employee_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveEmployee",
        "operationId": "RetrieveEmployee",
        "description": "Provides the details for a single employee.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "employee_id",
            "description": "The employee\u0027s ID.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Employee"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "UpdateEmployee",
        "operationId": "UpdateEmployee",
        "description": "",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "employee_id",
            "description": "The ID of the role to modify.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Employee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Employee"
            }
          }
        }
      }
    },
    "/v1/me/locations": {
      "get": {
        "tags": [
          "V1Locations"
        ],
        "summary": "ListLocations",
        "operationId": "ListLocations",
        "description": "Provides details for all business locations associated with a Square\naccount, including the Square-assigned object ID for the location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "MERCHANT_PROFILE_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "MERCHANT_PROFILE_READ"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Merchant"
              }
            }
          }
        }
      }
    },
    "/v1/me/roles": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListEmployeeRoles",
        "operationId": "ListEmployeeRoles",
        "description": "Provides summary information for all of a business\u0027s employee roles.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "order",
            "description": "The order in which employees are listed in the response, based on their created_at field.Default value: ASC",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "type": "integer",
            "in": "query",
            "required": false
          },
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1EmployeeRole"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "CreateEmployeeRole",
        "operationId": "CreateEmployeeRole",
        "description": "Creates an employee role you can then assign to employees.\n\nSquare accounts can include any number of roles that can be assigned to\nemployees. These roles define the actions and permissions granted to an\nemployee with that role. For example, an employee with a \"Shift Manager\"\nrole might be able to issue refunds in Square Point of Sale, whereas an\nemployee with a \"Clerk\" role might not.\n\nRoles are assigned with the [V1UpdateEmployee](#endpoint-v1updateemployee)\nendpoint. An employee can have only one role at a time.\n\nIf an employee has no role, they have none of the permissions associated\nwith roles. All employees can accept payments with Square Point of Sale.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "employee_role",
            "in": "body",
            "required": true,
            "description": "An EmployeeRole object with a name and permissions, and an optional owner flag.",
            "schema": {
              "$ref": "#/definitions/V1EmployeeRole"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1EmployeeRole"
            }
          }
        }
      }
    },
    "/v1/me/roles/{role_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveEmployeeRole",
        "operationId": "RetrieveEmployeeRole",
        "description": "Provides the details for a single employee role.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "role_id",
            "description": "The role\u0027s ID.",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1EmployeeRole"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "UpdateEmployeeRole",
        "operationId": "UpdateEmployeeRole",
        "description": "Modifies the details of an employee role.",
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "role_id",
            "description": "The ID of the role to modify.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1EmployeeRole"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1EmployeeRole"
            }
          }
        }
      }
    },
    "/v1/me/timecards": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListTimecards",
        "operationId": "ListTimecards",
        "description": "Provides summary information for all of a business\u0027s employee timecards.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "order",
            "description": "The order in which timecards are listed in the response, based on their created_at field.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "employee_id",
            "description": "If provided, the endpoint returns only timecards for the employee with the specified ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_clockin_time",
            "description": "If filtering results by their clockin_time field, the beginning of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_clockin_time",
            "description": "If filtering results by their clockin_time field, the end of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_clockout_time",
            "description": "If filtering results by their clockout_time field, the beginning of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_clockout_time",
            "description": "If filtering results by their clockout_time field, the end of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_updated_at",
            "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_updated_at",
            "description": "If filtering results by their updated_at field, the end of the requested reporting period, in ISO 8601 format.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "deleted",
            "description": "If true, only deleted timecards are returned. If false, only valid timecards are returned.If you don\u0027t provide this parameter, both valid and deleted timecards are returned.",
            "x-is-deprecated": true,
            "type": "boolean",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "x-is-deprecated": true,
            "type": "integer",
            "in": "query",
            "required": false
          },
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Timecard"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "CreateTimecard",
        "operationId": "CreateTimecard",
        "description": "Creates a timecard for an employee and clocks them in with an\n`API_CREATE` event and a `clockin_time` set to the current time unless\nthe request provides a different value.\n\nTo import timecards from another\nsystem (rather than clocking someone in). Specify the `clockin_time`\nand* `clockout_time` in the request.\n\nTimecards correspond to exactly one shift for a given employee, bounded\nby the `clockin_time` and `clockout_time` fields. An employee is\nconsidered clocked in if they have a timecard that doesn\u0027t have a\n`clockout_time` set. An employee that is currently clocked in cannot\nbe clocked in a second time.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Timecard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Timecard"
            }
          }
        }
      }
    },
    "/v1/me/timecards/{timecard_id}": {
      "delete": {
        "tags": [
          "V1Employees"
        ],
        "summary": "DeleteTimecard",
        "operationId": "DeleteTimecard",
        "description": "Deletes a timecard. Timecards can also be deleted through the\nSquare Dashboard. Deleted timecards are still accessible through\nConnect API endpoints, but cannot be modified. The `deleted` field of\nthe `Timecard` object indicates whether the timecard has been deleted.\n\n\n__Note__: By default, deleted timecards appear alongside valid timecards in\nresults returned by the [ListTimecards](#endpoint-v1employees-listtimecards)\nendpoint. To filter deleted timecards, include the `deleted` query\nparameter in the list request.\n\nOnly approved accounts can manage their employees with Square.\nUnapproved accounts cannot use employee management features with the\nAPI.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "timecard_id",
            "description": "The ID of the timecard to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveTimecard",
        "operationId": "RetrieveTimecard",
        "description": "Provides the details for a single timecard.\n\n\n\u003caside\u003e\nOnly approved accounts can manage their employees with Square.\nUnapproved accounts cannot use employee management features with the\nAPI.\n\u003c/aside\u003e",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "timecard_id",
            "description": "The timecard\u0027s ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Timecard"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "UpdateTimecard",
        "operationId": "UpdateTimecard",
        "description": "Modifies the details of a timecard with an `API_EDIT` event for\nthe timecard. Updating an active timecard with a `clockout_time`\nclocks the employee out.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "timecard_id",
            "description": "TThe ID of the timecard to modify.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Timecard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Timecard"
            }
          }
        }
      }
    },
    "/v1/me/timecards/{timecard_id}/events": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListTimecardEvents",
        "operationId": "ListTimecardEvents",
        "description": "Provides summary information for all events associated with a\nparticular timecard.\n\n\n\u003caside\u003e\nOnly approved accounts can manage their employees with Square.\nUnapproved accounts cannot use employee management features with the\nAPI.\n\u003c/aside\u003e",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "timecard_id",
            "description": "The ID of the timecard to list events for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1TimecardEvent"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/bank-accounts": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListBankAccounts",
        "operationId": "ListBankAccounts",
        "description": "Provides non-confidential details for all of a location\u0027s associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "BANK_ACCOUNTS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list bank accounts for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1BankAccount"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/bank-accounts/{bank_account_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "RetrieveBankAccount",
        "operationId": "RetrieveBankAccount",
        "description": "Provides non-confidential details for a merchant\u0027s associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "BANK_ACCOUNTS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the bank account\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "bank_account_id",
            "description": "The bank account\u0027s Square-issued ID. You obtain this value from Settlement objects returned.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1BankAccount"
            }
          }
        }
      }
    },
    "/v1/{location_id}/cash-drawer-shifts": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListCashDrawerShifts",
        "operationId": "ListCashDrawerShifts",
        "description": "Provides the details for all of a location\u0027s cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list cash drawer shifts for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "order",
            "description": "The order in which cash drawer shifts are listed in the response, based on their created_at field. Default value: ASC",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "begin_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time minus 90 days.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "end_time",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1CashDrawerShift"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/cash-drawer-shifts/{shift_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveCashDrawerShift",
        "operationId": "RetrieveCashDrawerShift",
        "description": "Provides the details for a single cash drawer shift, including all events that occurred during the shift.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "TIMECARDS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "TIMECARDS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list cash drawer shifts for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "shift_id",
            "description": "The shift\u0027s ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1CashDrawerShift"
            }
          }
        }
      }
    },
    "/v1/{location_id}/categories": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListCategories",
        "operationId": "ListCategories",
        "description": "Lists all the item categories for a given location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list categories for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Category"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateCategory",
        "operationId": "CreateCategory",
        "description": "Creates an item category.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to create an item for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Category"
            }
          }
        }
      }
    },
    "/v1/{location_id}/categories/{category_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteCategory",
        "operationId": "DeleteCategory",
        "description": "Deletes an existing item category.\n\n\n__DeleteCategory__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteCategoryRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "category_id",
            "description": "The ID of the category to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Category"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateCategory",
        "operationId": "UpdateCategory",
        "description": "Modifies the details of an existing item category.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the category\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "category_id",
            "description": "The ID of the category to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Category"
            }
          }
        }
      }
    },
    "/v1/{location_id}/discounts": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListDiscounts",
        "operationId": "ListDiscounts",
        "description": "Lists all the discounts for a given location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list categories for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Discount"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateDiscount",
        "operationId": "CreateDiscount",
        "description": "Creates a discount.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to create an item for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Discount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Discount"
            }
          }
        }
      }
    },
    "/v1/{location_id}/discounts/{discount_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteDiscount",
        "operationId": "DeleteDiscount",
        "description": "Deletes an existing discount.\n\n\n__DeleteDiscount__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteDiscountRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "discount_id",
            "description": "The ID of the discount to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Discount"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateDiscount",
        "operationId": "UpdateDiscount",
        "description": "Modifies the details of an existing discount.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the category\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "discount_id",
            "description": "The ID of the discount to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Discount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Discount"
            }
          }
        }
      }
    },
    "/v1/{location_id}/fees": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListFees",
        "operationId": "ListFees",
        "description": "Lists all the fees (taxes) for a given location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list fees for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Fee"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateFee",
        "operationId": "CreateFee",
        "description": "Creates a fee (tax).",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to create a fee for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Fee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Fee"
            }
          }
        }
      }
    },
    "/v1/{location_id}/fees/{fee_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteFee",
        "operationId": "DeleteFee",
        "description": "Deletes an existing fee (tax).\n\n\n__DeleteFee__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteFeeRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the fee\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "fee_id",
            "description": "The ID of the fee to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Fee"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateFee",
        "operationId": "UpdateFee",
        "description": "Modifies the details of an existing fee (tax).",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the fee\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "fee_id",
            "description": "The ID of the fee to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Fee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Fee"
            }
          }
        }
      }
    },
    "/v1/{location_id}/inventory": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListInventory",
        "operationId": "ListInventory",
        "description": "Provides inventory information for all inventory-enabled item\nvariations.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "description": "The maximum number of inventory entries to return in a single response. This value cannot exceed 1000.",
            "x-is-deprecated": true,
            "type": "integer",
            "in": "query",
            "required": false
          },
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1InventoryEntry"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/inventory/{variation_id}": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "AdjustInventory",
        "operationId": "AdjustInventory",
        "description": "Adjusts the current available inventory of an item variation.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "variation_id",
            "description": "The ID of the variation to adjust inventory information for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1AdjustInventoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1InventoryEntry"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListItems",
        "operationId": "ListItems",
        "description": "Provides summary information of all items for a given location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "location_id",
            "description": "The ID of the location to list items for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Item"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateItem",
        "operationId": "CreateItem",
        "description": "Creates an item and at least one variation for it.\n\n\n\nItem-related entities include fields you can use to associate them with\nentities in a non-Square system.\n\nWhen you create an item-related entity, you can optionally specify `id`.\nThis value must be unique among all IDs ever specified for the account,\nincluding those specified by other applications. You can never reuse an\nentity ID. If you do not specify an ID, Square generates one for the entity.\n\nItem variations have a `user_data` string that lets you associate arbitrary\nmetadata with the variation. The string cannot exceed 255 characters.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to create an item for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteItem",
        "operationId": "DeleteItem",
        "description": "Deletes an existing item and all item variations associated with it.\n\n\n__DeleteItem__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteItemRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to modify.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "RetrieveItem",
        "operationId": "RetrieveItem",
        "description": "Provides the details for a single item, including associated modifier\nlists and fees.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The item\u0027s ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateItem",
        "operationId": "UpdateItem",
        "description": "Modifies the core details of an existing item.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to modify.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/fees/{fee_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "RemoveFee",
        "operationId": "RemoveFee",
        "description": "Removes a fee assocation from an item so the fee is no longer\nautomatically applied to the item in Square Point of Sale.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the fee\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to add the fee to.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "fee_id",
            "description": "The ID of the fee to apply.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "ApplyFee",
        "operationId": "ApplyFee",
        "description": "Associates a fee with an item so the fee is automatically applied to\nthe item in Square Point of Sale.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the fee\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to add the fee to.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "fee_id",
            "description": "The ID of the fee to apply.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/modifier-lists/{modifier_list_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "RemoveModifierList",
        "operationId": "RemoveModifierList",
        "description": "Removes a modifier list association from an item so the modifier\noptions from the list can no longer be applied to the item.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to remove.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to remove the modifier list from.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "ApplyModifierList",
        "operationId": "ApplyModifierList",
        "description": "Associates a modifier list with an item so the associated modifier\noptions can be applied to the item.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to apply.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to add the modifier list to.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Item"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/variations": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateVariation",
        "operationId": "CreateVariation",
        "description": "Creates an item variation for an existing item.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The item\u0027s ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Variation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Variation"
            }
          }
        }
      }
    },
    "/v1/{location_id}/items/{item_id}/variations/{variation_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteVariation",
        "operationId": "DeleteVariation",
        "description": "Deletes an existing item variation from an item.\n\n\n__DeleteVariation__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteVariationRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "variation_id",
            "description": "The ID of the variation to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Variation"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateVariation",
        "operationId": "UpdateVariation",
        "description": "Modifies the details of an existing item variation.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "item_id",
            "description": "The ID of the item to modify.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "variation_id",
            "description": "The ID of the variation to modify.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1Variation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1Variation"
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists": {
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "ListModifierLists",
        "operationId": "ListModifierLists",
        "description": "Lists all the modifier lists for a given location.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list modifier lists for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1ModifierList"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateModifierList",
        "operationId": "CreateModifierList",
        "description": "Creates an item modifier list and at least 1 modifier option for it.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to create a modifier list for.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1ModifierList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierList"
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists/{modifier_list_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteModifierList",
        "operationId": "DeleteModifierList",
        "description": "Deletes an existing item modifier list and all modifier options\nassociated with it.\n\n\n__DeleteModifierList__ returns nothing on success but Connect SDKs\nmap the empty response to an empty `V1DeleteModifierListRequest` object\nas documented below.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierList"
            }
          }
        }
      },
      "get": {
        "tags": [
          "V1Items"
        ],
        "summary": "RetrieveModifierList",
        "operationId": "RetrieveModifierList",
        "description": "Provides the details for a single modifier list.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The modifier list\u0027s ID.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierList"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateModifierList",
        "operationId": "UpdateModifierList",
        "description": "Modifies the details of an existing item modifier list.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1UpdateModifierListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierList"
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options": {
      "post": {
        "tags": [
          "V1Items"
        ],
        "summary": "CreateModifierOption",
        "operationId": "CreateModifierOption",
        "description": "Creates an item modifier option and adds it to a modifier list.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1ModifierOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierOption"
            }
          }
        }
      }
    },
    "/v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options/{modifier_option_id}": {
      "delete": {
        "tags": [
          "V1Items"
        ],
        "summary": "DeleteModifierOption",
        "operationId": "DeleteModifierOption",
        "description": "Deletes an existing item modifier option from a modifier list.\n\n\n__DeleteModifierOption__ returns nothing on success but Connect\nSDKs map the empty response to an empty `V1DeleteModifierOptionRequest`\nobject.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to delete.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_option_id",
            "description": "The ID of the modifier list to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierOption"
            }
          }
        }
      },
      "put": {
        "tags": [
          "V1Items"
        ],
        "summary": "UpdateModifierOption",
        "operationId": "UpdateModifierOption",
        "description": "Modifies the details of an existing item modifier option.",
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the item\u0027s associated location.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_list_id",
            "description": "The ID of the modifier list to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "modifier_option_id",
            "description": "The ID of the modifier list to edit.",
            "x-is-deprecated": true,
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
            "schema": {
              "$ref": "#/definitions/V1ModifierOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V1ModifierOption"
            }
          }
        }
      }
    },
    "/v1/{location_id}/orders": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListOrders",
        "operationId": "ListOrders",
        "description": "Provides summary information for a merchant\u0027s online store orders.",
        "x-release-status": "PUBLIC",
        "x-visibility": "SDK_ONLY",
        "x-oauthpermissions": [
          "ORDERS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the location to list online store orders for.",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "order",
            "description": "TThe order in which payments are listed in the response.",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "type": "integer",
            "in": "query",
            "required": false
          },
          {
            "name": "batch_token",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V1Order"
              }
            }
          }
        }
      }
    },
    "/v1/{location_id}/orders/{order_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "RetrieveOrder",
        "operationId": "RetrieveOrder",
        "description": "Provides comprehensive information for a single online store order, including the order\u0027s history.",
        "x-release-status": "PUBLIC",
        "x-visibility": "SDK_ONLY",
        "x-oauthpermissions": [
          "ORDERS_READ"
        ],
        "x-sq-version": "2020-08-26",
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "description": "The ID of the order\u0027s associated location.",
            "type": "string",
            "in": "path",
[...]
