{{#models}}{{#model}}# {{classname}}

### Description{{#description}}

{{{description}}}{{/description}}

## Properties
{{#isEnum}}
Name | Type
------------ | -------------
{{#allowableValues}}{{#values}}**{{{this}}}** | string
{{/values}}
{{/allowableValues}}
{{/isEnum}}
{{^isEnum}}
Name | Getter | Setter | Type | Description | Notes
------------ | ------------- | ------------- | ------------- | ------------- | -------------
{{#vars}}**{{name}}** | {{getter}}() | {{^readOnly}}{{setter}}($value){{/readOnly}} | {{#isPrimitiveType}}**{{datatype}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{datatype}}**]({{complexType}}.md){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}
{{/isEnum}}

Note: All properties are protected and only accessed via getters and setters.

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)

{{/model}}{{/models}}